<!-- <app-header></app-header>

<app-home></app-home>

<app-contact></app-contact>
<app-about></app-about> -->
<!-- <a routerLink="main">main</a>
<a routerLink="home">Home</a>
<a routerLink="contact">Contact</a>
<a routerLink="about">About</a> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="favicon.ico"width="40px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="main">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="home">Blog</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="databinding">Databinding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="directive">Directive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="form">Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="reactiveform">Rectiveform</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>